<div class="page-wrap">
    <section class="main-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>{{title}}</h1>
                    <div class="search-fields">
                        <input type="text" name="">
                        <input type="submit" name="" value="Search">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="popular-results">
        <div class="container">
        <h3>Top Rating</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-view">
                        <h3>Sri Chiatanya Institutions</h3>
                        <div class="cources">
                            <ul>
                                <li>Java</li>
                                <li>Asp.net</li>
                                <li>Php</li>
                                <li>Android</li>
                                <li>JavaScript</li>
                                <li>Ruby</li>
                            </ul>
                        </div>
                        <div class="user-rating">
                            <span class="star-4"></span>
                        </div>
                    </div>
                    <div class="card-view">
                        <h3>Sri Chiatanya Institutions</h3>
                        <div class="cources">
                            <ul>
                                <li>Java</li>
                                <li>Asp.net</li>
                                <li>Php</li>
                                <li>Android</li>
                                <li>JavaScript</li>
                                <li>Ruby</li>
                            </ul>
                        </div>
                        <div class="user-rating">
                            <span class="star-4"></span>
                        </div>
                    </div>
                    <div class="card-view">
                        <h3>Sri Chiatanya Institutions</h3>
                        <div class="cources">
                            <ul>
                                <li>Java</li>
                                <li>Asp.net</li>
                                <li>Php</li>
                                <li>Android</li>
                                <li>JavaScript</li>
                                <li>Ruby</li>
                            </ul>
                        </div>
                        <div class="user-rating">
                            <span class="star-4"></span>
                        </div>
                    </div>
                    <div class="card-view">
                        <h3>Sri Chiatanya Institutions</h3>
                        <div class="cources">
                            <ul>
                                <li>Java</li>
                                <li>Asp.net</li>
                                <li>Php</li>
                                <li>Android</li>
                                <li>JavaScript</li>
                                <li>Ruby</li>
                            </ul>
                        </div>
                        <div class="user-rating">
                            <span class="star-4"></span>
                        </div>
                    </div>
                    <div class="card-view">
                        <h3>Sri Chiatanya Institutions</h3>
                        <div class="cources">
                            <ul>
                                <li>Java</li>
                                <li>Asp.net</li>
                                <li>Php</li>
                                <li>Android</li>
                                <li>JavaScript</li>
                                <li>Ruby</li>
                            </ul>
                        </div>
                        <div class="user-rating">
                            <span class="star-4"></span>
                        </div>
                    </div>
                    <div class="card-view">
                        <h3>Sri Chiatanya Institutions</h3>
                        <div class="cources">
                            <ul>
                                <li>Java</li>
                                <li>Asp.net</li>
                                <li>Php</li>
                                <li>Android</li>
                                <li>JavaScript</li>
                                <li>Ruby</li>
                            </ul>
                        </div>
                        <div class="user-rating">
                            <span class="star-4"></span>
                        </div>
                    </div>
                    <div class="card-view">
                        <h3>Sri Chiatanya Institutions</h3>
                        <div class="cources">
                            <ul>
                                <li>Java</li>
                                <li>Asp.net</li>
                                <li>Php</li>
                                <li>Android</li>
                                <li>JavaScript</li>
                                <li>Ruby</li>
                            </ul>
                        </div>
                        <div class="user-rating">
                            <span class="star-4"></span>
                        </div>
                    </div>
                    <div class="card-view">
                        <h3>Sri Chiatanya Institutions</h3>
                        <div class="cources">
                            <ul>
                                <li>Java</li>
                                <li>Asp.net</li>
                                <li>Php</li>
                                <li>Android</li>
                                <li>JavaScript</li>
                                <li>Ruby</li>
                            </ul>
                        </div>
                        <div class="user-rating">
                            <span class="star-4"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
